export URL="https://twitter.com/legnbot/status/1429076121144807428/photo/1"
export MESSAGE=\
"フレンド枠まだまだ空きあるので募集中です〜🥳

#ウマ娘フレンド募集
ID: 363668256

サポート: SSRスパクリ完凸
代表: セイウンスカイ
因子: スタ8/芝4/中距離2/URA4/集中力/急ぎ足/逃げ直線/逃げコツ/地固め

よろしくお願いします🧲"
