name: Tweet
on:
  push:
  workflow_dispatch:
  schedule:
    - cron:  '0 12 * * *'

jobs:
  publish_tweet:
    name: tweet
    runs-on: ubuntu-latest
    steps:
      - name: create message
        env:
          MESSAGE: |
            フレ随時募集してます（枠埋まったためログイン3日で入替えます）。
            
            #ウマ娘フレンド募集
            ID: 363668256
            
            サポート: SSRスパクリ完凸
            代表: セイウンスカイ
            因子: スタ8/芝4/中距離2/URA4/集中力/急ぎ足/逃げ直線/逃げコツ/地固め
          URL: https://twitter.com/legnbot/status/1429076121144807428/photo/1
          TZ: Asia/Tokyo
        run: |
          set -eux
          export UPDATE=$(date '+%Y/%m/%d %H:%M')
          echo "${MESSAGE}" > message.txt
          echo "${UPDATE} 更新" >> message.txt
          echo "${URL}" >> message.txt
          echo "TWITTER_STATUS<<EOF" >> ${GITHUB_ENV}
          echo "$(cat message.txt)" >> ${GITHUB_ENV}
          echo "EOF" >> ${GITHUB_ENV}
          cat message.txt
      - name: update
        uses: ethomson/send-tweet-action@v1
        with:
          consumer-key: ${{ secrets.TWITTER_CONSUMER_KEY }}
          consumer-secret: ${{ secrets.TWITTER_CONSUMER_SECRET }}
          access-token: ${{ secrets.TWITTER_ACCESS_TOKEN }}
          access-token-secret: ${{ secrets.TWITTER_ACCESS_SECRET }}
          status: ${{ env.TWITTER_STATUS }}
